* {
    background-color: #242F9B;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    color: #fff;
    font-weight: 500;
    font-size: 1.2rem;
}

.character_card {
    width: 40%;
    border-radius: 50px;
    background-color: #fff;
    padding: 5px 10px;
}

.character {
    text-align: center;
    font-size: 50px;
    color: green;
    background-color: #fff;
}